<h2
  class="text-center font-bold text-white bg-gray-800 py-3 w-11/12 sm:w-1/2 mx-auto rounded mb-5 mt-10 text-lg sm:text-xl"
>
  STAGE
</h2>

<div class="flex flex-col items-center space-y-2 sm:space-y-3 px-2 sm:px-0">
  <div
    *ngFor="let row of seats; let i = index"
    class="flex gap-1 sm:gap-2 justify-center"
    [ngStyle]="{
      'margin-left': (rows - i) * 4 + 'px'
    }"
  >
    <div
      *ngFor="let seat of row; let j = index"
      (click)="toggleSeat(i, j)"
      class="w-8 h-8 sm:w-10 sm:h-10 rounded-md flex items-center justify-center text-[10px] sm:text-xs cursor-pointer transition duration-200"
      [ngClass]="{
        'bg-gray-300': seat.status === 'available',
        'bg-green-600 text-white': seat.status === 'selected'
      }"
    >
      {{ i + 1 }}-{{ j + 1 }}
    </div>
  </div>
</div>
